@page "/"
@rendermode InteractiveServer
@inject IToastService ToastService


<div class="container">

    <div class="card-header">
        <h1>Adenawell Torres 2023-0647 </h1>

        Segundo Parcial, Programaci&oacute;n Aplicada 1
    </div>
    
    <div class="card-body">
        <button class="btn btn-primary" @onclick="Saludar">Probar Toast</button>
    </div>
    

</div>


@code {
    void Saludar() => ToastService.ShowSuccess("TodoFuncional");
}